// footer__inner
.footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .footer__text {
        width: 20%;
        h5 {
            font-size: 18px;
            margin-bottom: 20px;
        }
        p {
            font-size: 16px;
            color: #808080;
        }
        .sns {
            li {
                display: inline;
                a {
                    display: inline-block;
                    width: 45px;
                    height: 45px;
                    @include border(45px);
                    // background-color: #fff;
                    background-image: url(../../images/footer/Facebook.png);
                    background-repeat: no-repeat;
                    background-position: center;
                }
                &:nth-child(2) a {
                    background-image: url(../../images/footer/Instagram.png);

                    // background-position: -45px 0;
                }
                &:nth-child(3) a {
                    background-image: url(../../images/footer/YouTube.png);
                    // background-position: -90px 0;
                }
                &:nth-child(4) a {
                    background-image: url(../../images/footer/Link.png);
                    // background-position: -135px 0;
                }
                &:hover a {
                    background-color: rgba(196, 196, 196, 0.3);
                }
            }
        }
    }
    .footer__menu {
        width: 70%;
        display: flex;
        > div {
            width: 25%;
            h4 {
                font-size: 18px;
                color: #000;
                margin-bottom: 20px;
            }
            a {
                font-size: 14px;
                color: #808080;
                line-height: 1.8;

                &:hover {
                    text-decoration: underline;
                    text-underline-position: unset;
                }
            }
        }
    }
    .footer__right {
        width: 100%;
        padding: 30px;
        text-align: center;
        border-top: 1px solid #E5E5E5;
        margin-top: 50px;
        color: #808080;
        font-size: 14px;
    }
}