// intro__wrap
.intro__wrap {}
.intro__inner {
   display: flex;
   justify-content: space-between;
}
.intro__title {
    width: 33%;
    span {
        background-color: #FF3344;
        font-size: 14px;
        padding: 4px 30px 2px;
        color: #fff;
        border-radius: 40px;
        text-transform: uppercase;
        margin-bottom: 10px;
        display: inline-block;
    }
    h3 {
        font-size: 50px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 30px;
    }
    p {
        font-size: 18px;
        line-height: 1.5;
        font-weight: 500;
    }
}
.intro__desc {
    width: 66%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > div {
        width: 48%;
        margin-bottom: 40px;

        h4 {
            font-size: 24px;
            margin-bottom: 15px;
        }
        &:nth-child(3){
            margin-bottom: 0;
        }
        &:nth-child(4){
            margin-bottom: 0;
        }
        
    }
}


// intro slider
.intro__slider {
    .intro__tistory {
        img {
            width: 100%;
            height: 600px;
            margin-top: 5%;
        }
        
        .tistory__desc {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: bold;

            .first {
                display: block;
                font-family: 'NanumSquareNeo';
                font-size: 52px;
            }
            .second {
                display: block;
                font-family: 'NanumSquareNeo';
                font-size: 30px;
                margin: 2vw 0;
            }
            a {
                display: inline-block;
                padding: 10px 25px;
                border-radius: 5px;
                color: #fff;
                background-color: #747474;
                transition: background-color 0.3s;
                font-size: 20px;
                font-family: 'NanumSquareNeo';

                &:hover {
                    background-color: #000;
                }
            }
        }
    }

        .intro__githube {            
            img {
                width: 100%;
                height: 600px;
                margin-top: 5%;
            }
            .githube__desc {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 1.5vw;
                font-weight: bold;

                .first {
                    display: block;
                    font-family: 'NanumSquareNeo';
                    font-size: 52px;
                }
                .second {
                    display: block;
                    font-family: 'NanumSquareNeo';
                    font-size: 30px;
                    margin: 2vw 0;
                }
                a {
                    display: inline-block;
                    padding: 10px 25px;
                    border-radius: 5px;
                    color: #fff;
                    background-color: #747474;
                    transition: background-color 0.3s;
                    font-size: 20px;
                    font-family: 'NanumSquareNeo';
    
                    &:hover {
                        background-color: #000;
                    }
                }
            }
        }
    }