// movies__wrap
.movies__wrap {
    overflow: hidden;
}
.movies__inner {
    height: 1000px;

    h3 {
        font-size: 50px;
        margin-bottom: 40px;
    }
    p {
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 60px;
    }
    a {
        @include border(50px);
    }
    .movies__item {
        @include flex-between;
        margin-top: 70px;
        position: absolute;
        
        > div {
            width: 400px;
            margin-right: 20px;

            img {
                width: 100%;
                
                @include border(20px);
            }
        }
    }
}

//movie__cont
.movie__cont {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: "GmarketSans";

    li {
      width: 24%;
      position: relative;
      margin-bottom: 2%;

      .title {
        font-size: 20px;
        padding: 3px 0;
        display: inline-block;

        &:hover {
          text-decoration: underline;
          text-underline-position: under;
        }
      }
      .star {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 30px;
        height: 30px;
        background-color: #fff;
        text-align: center;
        line-height: 30px;
        border-radius: 50%;
        font-size: 12px;
      }
    }
  }
}
// movie__search
.movie__search {
  margin-bottom: 50px;
  text-align: center;

  input {
    border: 1px solid #e8ecf2;
    font-size: 16px;
    padding: 10px 20px;
    @include border(50px);
    min-width: 300px;
    margin-right: 10px;
    font-family: "GmarketSans";
  }

  button {
    @include button(#4857ec, #fff);
    @include border(50px);
    font-family: "GmarketSans";
  }
}

.movie__tag {
    ul {
      display: flex;
      justify-content: center;
      margin-top: 100px;
      margin-bottom: 50px;
  
      li {
        a {
          display: inline-block;
          border: 1px solid #4857ec;
          padding: 5px 20px;
          margin: 0 10px;
          color: #4857ec;
          cursor: pointer;
  
          &:hover {
            background-color: #4857ec;
            color: #fff;
          }
        }
      }
      li.active a {
        background-color: #4857ec;
        color: #fff;
      }
    }
  }


.movie__slider {
  .swiper {
    padding: 60px 0;
  }
  .swiper-pagination {
    bottom: 1vw;
    cursor: pointer;
  }
}



// movie__wrap
// .movie__wrap {
//   overflow: hidden;
// }
// .movie__inner {
//   height: 780px;

//   .movie__text {
//     h3 {
//       font-size: 50px;
//       margin-bottom: 40px;
//     }
//     p {
//       font-size: 22px;
//       font-weight: 300;
//       margin-bottom: 30px;
//     }
//     a {
//       @include border(50px);
//     }
//   }
//   .movie__item {
//     @include flex-between;
//     margin-top: 70px;
//     position: absolute;

//     > div {
//       width: 300px;
//       margin-right: 20px;

//       img {
//         width: 100%;
//         @include border(10px);
//       }
//     }
//   }
// }

// //movie__cont
// .movie__cont {
//   ul {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     font-family: "GmarketSans";

//     li {
//       width: 24%;
//       position: relative;
//       margin-bottom: 2%;

//       .title {
//         font-size: 20px;
//         padding: 3px 0;
//         display: inline-block;

//         &:hover {
//           text-decoration: underline;
//           text-underline-position: under;
//         }
//       }
//       .star {
//         position: absolute;
//         right: 20px;
//         top: 20px;
//         width: 30px;
//         height: 30px;
//         background-color: #fff;
//         text-align: center;
//         line-height: 30px;
//         border-radius: 50%;
//         font-size: 12px;
//       }
//     }
//   }
// }

// .movie__search {
//   margin-bottom: 50px;
//   text-align: center;

//   input {
//     border: 1px solid #e8ecf2;
//     font-size: 16px;
//     padding: 10px 20px;
//     @include border(50px);
//     min-width: 300px;
//     margin-right: 10px;
//     font-family: "GmarketSans";
//   }

//   button {
//     @include button(#4857ec, #fff);
//     @include border(50px);
//     font-family: "GmarketSans";
//   }
// }

// .movie__tag {
//   ul {
//     display: flex;
//     justify-content: center;
//     margin-top: 100px;
//     margin-bottom: 50px;

//     li {
//       a {
//         display: inline-block;
//         border: 1px solid #4857ec;
//         padding: 5px 20px;
//         margin: 0 10px;
//         color: #4857ec;
//         cursor: pointer;

//         &:hover {
//           background-color: #4857ec;
//           color: #fff;
//         }
//       }
//     }
//     li.active a {
//       background-color: #4857ec;
//       color: #fff;
//     }
//   }
// }

// .movie__slider {
//   .swiper {
//     padding: 60px 0;
//   }
//   .swiper-pagination {
//     bottom: 1vw;
//     cursor: pointer;
//   }
// }